$content-max-width: 85vw;
$content-min-width: 0px;
$accent-color: #391eda;

@font-face {
  font-family: "Charcoal";
  src: url('/fonts/CHARCOAL.TTF') format('truetype');
}

//* {
//  cursor: url('/cursor.svg'), auto;
//}

h1{
  color: black;
  text-decoration: none;
  font-weight: normal;
  font-family: Helvetica;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 95%;
  a {
    all: unset;
  }
}

h2{
  color: black;
  text-decoration: none;
  font-weight: normal;
  font-family: Helvetica;
}

h3 {
  font-weight: 300;
  font-family: "Helvetica";
}

h4{
  color: black;
  text-decoration: none;
  font-weight: normal;
  font-family: Helvetica;
}

h5 {
  color: black;
  text-decoration: none;
  font-weight: normal;
  font-family: Helvetica;
}

h6 {
  unset: all;
  font-family: Victor Mono, PT Mono, monospace;
  font-weight: lighter;
  //color: global.$accent-color;
  margin: 0px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

p {
  font-weight: 400;
  font-family: "Helvetica Neue";
}

a {
  color: $accent-color;
  text-decoration: black;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  &:active {
    color: black;
  }
}

figcaption {
  @extend h6;
  text-align: center;
}

/* Small devices such as large phones (640px and up) */
@media only screen and (max-width: 48em) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.2rem;
  }

  h6 {
    font-size: 8pt;
  }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 48em) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.2rem;
  }

  h6 {
    font-size: 8pt;
  }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 64em) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.2rem;
  }

  h6 {
    font-size: 9pt;
  }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 80em) {
  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.2rem;
  }

  h6 {
    font-size: 9pt;
  }

}

/* Largest devices such as desktops (1440px and up) */
@media only screen and (min-width: 90em) {
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.2rem;
  }

  h6 {
    font-size: 9pt;
  }

  p {
    font-size: 12pt;

  }

}

