@font-face {
  font-family: 'ogg';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/title.woff') format("woff");
}

$content-max-width: 85vw;
$content-min-width: 0px;
$accent-color: #3f2cad;