.container {
  color: white;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.yearContainer {
  display: flex;
}

.year {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0px;
  margin-right: 7px;

}

.posts {
  font-size: 1.2rem;
  line-height: 1.2;
  margin-bottom: 0px;
}

.link {
  color: white;
  text-decoration: underline;
  -webkit-text-decoration: underline;
  margin-left: 2px;
  margin-right: 7px;
  &:active {
    color:aquamarine;
  }

}
