@use "../../global";

.container {
  margin: auto;
  max-width: global.$content-max-width;
  min-width: global.$content-min-width;
  font-family: sans-serif;
}

.heading {
  color: rebeccapurple;
}

.site-title {
  font-size: 3rem;
  color: black;
  font-weight: 700;
  margin: 0rem 0rem 0rem 0;

  white-space: pre-line;
  line-height: 40%;
  display: flex;
  h1 {
    font-size: 1.3rem;
    font-family: ogg;
    text-align: left;

  }

  h2 {
    font-size: 2rem;
    text-align: right;
    margin-left: auto;
    margin-top: auto;
    align-self: flex-end;
    display: block;
  }

  nav {
    font-size: 1rem;
    margin-left: auto;
    margin-top: auto;
    ul {
      display: flex;
      list-style: none;
      padding-left: 0;
    }

    li {
      padding-right: 2rem;
      .navLinkText {
        color: black;
        text-decoration: none;
        font-weight: lighter;
        font-family: Arial;


      }
    }

  }

}

