@use "../../global";
@use "transition";

.container {
  @extend .ld, .ld-blur-in;
  padding-top: 2vh;

  margin: auto;
  max-width: global.$content-max-width;
  min-width: global.$content-min-width;
  font-family: sans-serif;
}


.site-title {


  font-size: 3rem;
  color: black;
  font-weight: 700;
  margin: 0rem 0rem 0rem 0;
  display: flex;


  nav {
    font-size: 1rem;
    margin-left: auto;
    margin-top: auto;
    ul {
      display: flex;
      list-style: none;
      padding-left: 0;
    }

    li {
      padding-right: 2rem;
      .navLinkText {
        color: black;
        text-decoration: none;
        font-weight: lighter;
        font-family: Arial;

      }
    }

  }

}



.name {

  color: lightgray;
  line-height: 95%;
  transition-property: color;
  transition-duration: 0.25s;
  &:hover {

    color: black;
  }
  &:active {

    color: global.$accent-color;
  }
  margin-top: auto;
  margin-left: auto;
  text-align: right;
  a {
    all: unset;

  }
}

