@use "../../global";

.container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.headerContainer {
  width: 100%;
  display: flex;
}

.metadataContainer {
  width: 30%;
  margin-top: auto;
  margin-bottom: auto;
}

.metadataElement {
  display: flex;
}

.metadataLabel {
  color: global.$accent-color;
}

.metadataSpacer {
  min-width: 10px;
}

.metadataValue {
}

.descriptionContainer {
  width: 70%;
  margin-left: 10px;
  max-width: 700px;
}

h4 {
  margin-bottom: 5px;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
}

.contentContainer {
  margin: 10px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;

}

.halfWidth {
  @extend .contentContainer;
  width: 50%;
}

.thirdWidth {
  @extend .contentContainer;
  width: 33%;
}

.twoThirdsWidth {
  @extend .contentContainer;
  width: 66%;
}

.nextPrevProjectDiv {
  p {
    margin-bottom: 5px;
  }
  h6 {
    color: black;
  }
}

// tablets
@media only screen and (max-width: 64em) {
  .twoThirdsWidth {
    min-width: 100%;
  }
  .thirdWidth {
    min-width: 100%;
  }
  .halfWidth {
    min-width: 100%;
  }
}

// phones
@media only screen and (max-width: 48em) {
  .thirdWidth {
    min-width: 100%;
  }

  .halfWidth {
    min-width: 100%;
  }

  .descriptionContainer {
    min-width: 100%;
    margin: auto;
  }

  .metadataContainer {
    min-width: 100%;
  }

  .headerContainer {
    flex-wrap: wrap;
  }
}