@use "../../global";

a {
  text-decoration: none;
}


.container {
  display: flex;
  margin-top: 0px;
  padding-top: 2vh;
  padding: 0px;

}

.list {
  margin-top: auto;
  margin-bottom: auto;
}

.photoContainer {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
  min-width: 300px;
  width: 20vw;
  height: 20vw;
}

.hidden {
  visibility: hidden;
  display: none;
  transition-property: visibility;
  transition-duration: 1s;
}

.visible {
  visibility: visible;
  margin-top: auto;
  margin-bottom: auto;
}

