.project {
  width: 30vw;
  text-align: right;
  margin: 0px;
  padding: 5px;
  h2 {
    color: gray;
    text-decoration: none;
    font-size: max(min(5vh, 4rem), 2rem);
    font-weight: normal;
    font-family: Helvetica;
    margin: 0px;
    transition-property: color;
    transition-duration: 0.5s;
  }
  &--selected {
    @extend .project;
    h2 {
      color: black;

      font-weight: normal;
    }
  }
}
a {
  text-decoration: none;
}


.container {
  display: flex;
  margin-top: 0px;
  padding-top: 2vh;
  padding: 0px;
  height: 100%

}

.list {
  margin-bottom: auto;
}

.heroContainer {
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: 0px;
  width: 45vw;
  height: auto !important;
}