@use "../../global";

.container {
  margin-left: 0px;
  padding: 0px;
}

.textContainer {
  width: 70vw;
  padding-left: 20px;
  padding-right: 20px;
}

.metadataContainer {
  display: flex;
  margin: 0px;
  padding: 0px;

}

.description {
  margin:  0px;
  padding: 0px;
  font-size: 2rem;
  padding-bottom: 5px;
  font-weight: 200;
  font-family: "Helvetica Neue";
}

h6 {
  unset: all;
  font-family: Victor Mono, PT Mono, monospace;
  font-weight: lighter;
  font-size: 10pt;
  //color: global.$accent-color;
  margin: 0px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.image {
  margin-left: auto;
  margin-top: auto;
  width: 10%;
  height: 10%;
}

.imageContainer {
display: flex;

}

.seemoreText {
  unset: all;
  color: global.$accent-color;
  font-family: Victor Mono, PT Mono, monospace;
  font-size: 1.2rem;
  transition-property: margin-right;
  transition-duration: 0.5s;
  text-transform: uppercase;
  text-align: right;
  margin-left: auto;
  text-decoration: global.$accent-color;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  &:hover {
    margin-right: 10px;
  }
  &:active {
    color: black;
  }

}