@use "../../global";

.container {
  margin-left: auto;
  padding: 0px;
  height: 100%;
  width: 35vw;

}

.textContainer {
  margin-right: 10vw;
}

.metadataContainer {
  display: flex;
  margin: 0px;
  padding: 0px;

}

.description {
  margin:  0px;
  padding: 0px;
  padding-bottom: 5px;
}

.image {
  margin-top: auto;
  margin-bottom: 0px;
  margin-left: auto;
  height: min(50vh / 1.5, 50vw / 1.5);
  width: min(40vh / 1.5, 40vw / 1.5);
}

.imageContainer {

  display: flex;
  margin-top: auto;
  margin-left: auto;
  height: 100%;
}

.seemoreText {
  unset: all;
  color: global.$accent-color;
  font-family: Victor Mono, PT Mono, monospace;
  font-size: 1.2rem;
  transition-property: margin-right;
  transition-duration: 0.5s;
  text-transform: uppercase;
  text-align: right;
  margin-left: auto;
  text-decoration: global.$accent-color;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  &:hover {
    margin-right: 10px;
  }
  &:active {
    color: black;
  }

}