.contentLinkGroup{
  all: unset;
  width: auto;
  display: inline;
  padding: 10px;
  text-align: center;
  margin:auto;
}

.contentLinkGroup:active > img {
  color: #ffffff;
  filter: brightness(0.4);
}

.contentLinkGroup:active > .contentLinkDescription {
  color: #ffffff;
  background: #262626;
}

.contentLinkDescription {
  margin: 0;
  padding: 2px;
  background: inherit;
  font-family: Geneva, sans-serif;
  -webkit-font-smoothing: none;
  font-smooth: never;
  font-size: 0.8em;
}
